<%= form_for @supply, :html => { :class => "form-horizontal supply" } do |f| %>

  <% if @supply.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@supply.errors.count, "error") %> prohibited this supply from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @supply.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :data, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :data, :class => 'form-control' %>
    </div>
    <%=f.error_span(:data) %>
  </div>
  <div class="form-group">
    <%= f.label :posto, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :posto, :class => 'form-control' %>
    </div>
    <%=f.error_span(:posto) %>
  </div>
  <div class="form-group">
    <%= f.label :quilometragem, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :quilometragem, :class => 'form-control' %>
    </div>
    <%=f.error_span(:quilometragem) %>
  </div>
  <div class="form-group">
    <%= f.label :litros, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :litros, :class => 'form-control' %>
    </div>
    <%=f.error_span(:litros) %>
  </div>
  <div class="form-group">
    <%= f.label :combustivel, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :combustivel, :class => 'form-control' %>
    </div>
    <%=f.error_span(:combustivel) %>
  </div>
  <div class="form-group">
    <%= f.label :preco, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :preco, :class => 'form-control' %>
    </div>
    <%=f.error_span(:preco) %>
  </div>
  <div class="form-group">
    <%= f.label :carro, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select(:car_id, Car.where("user_id = ?", current_user.id),
                                          :id, :placa, :prompt => true) %>
    </div>
    <%=f.error_span(:car_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                supplies_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
