<%- model_class = Car -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Carros
  " %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:placa) %></th>
      <th><%= model_class.human_attribute_name(:modelo) %></th>
      <th><%= model_class.human_attribute_name(:ano) %></th>
  </thead>
  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= link_to car.id, car_path(car) %></td>
        <td><%= car.placa %></td>
        <td><%= car.modelo %></td>
        <td><%= car.ano %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      car_path(car), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_car_path(car), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      car_path(car),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_car_path,
            :class => 'btn btn-primary', :style=>'color: white'%>
